{% extends 'admin/layout.html' %}

{% block title %}
Добавить path
{% endblock %}

{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Добавить path</h4>
            <p class="card-description">
                Форма добавления
            </p>
            <form method="post" class="forms-sample" action="{{ url_for('path.save') }}">
                <input type="hidden" name="__id" value="{{ path_model.id|default('') }}">
                <div class="form-group">
                    <label for="exampleInputUsername1">extend_fill</label>
                    <select name="extend_fill" id="exampleInputUsername1" class="form-control">
                        {% if path_model.extend_fill == 0 %}
                            <option value="1">да</option>
                            <option selected value="0">нет</option>
                        {% else %}
                            <option selected value="1">да</option>
                            <option value="0">нет</option>
                        {% endif %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail2">fill</label>
                    <select name="fill_id" id="exampleInputEmail2" class="form-control">
                        {% if select_fill is defined %}
                            <option value="{{ select_fill.id }}">{{ select_fill.value }}</option>
                        {% endif %}
                        {% for fill in fills %}
                            <option value="{{fill.id}}">{{fill.value}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">d</label>
                    <input name="d" type="text" class="form-control" id="exampleInputEmail3" placeholder="d" value="{{ path_model.d or '' }}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail4">figure</label>
                    <select name="figure_id" id="exampleInputEmail4" class="form-control">
                        {% if select_figure is defined %}
                            <option value="{{ select_figure.id }}">
                                {{select_figure.label}}, 
                                {{select_figure.type_label}}, 
                                {{select_figure.age}}(возраст),
                                {% if select_figure.sex == 0 %}
                                    мужской
                                {% else %}
                                    женский
                                {% endif %}
                            </option>
                        {% endif %}
                        {% for figure in figures %}
                            <option value="{{figure.id}}">
                                {{figure.label}}, 
                                {{figure.type_label}}, 
                                {{figure.age}}(возраст), 
                                {% if figure.sex == 0 %}
                                    мужской
                                {% else %}
                                    женский
                                {% endif %}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail5">priority</label>
                    <input name="priority" type="number" class="form-control" id="exampleInputEmail5" placeholder="priority" value="{{ path_model.priority or '' }}">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail6">status</label>
                    <select name="status" id="exampleInputUsername1" class="form-control">
                        {% if path_model.status == 0 %}
                            <option value="1">активен</option>
                            <option selected value="0">не активен</option>
                        {% else %}
                            <option selected value="1">активен</option>
                            <option value="0">не активен</option>
                        {% endif %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary mr-2">Отправить</button>
                <a href="{{ url_for('path.index') }}" class="btn btn-light">Назад</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}