{% extends 'admin/layout.html' %}
{% from "admin/pagination.html" import pagination with context %}
{% block title %}
Список Path
{% endblock %}

{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Path</h4>
            <a href="{{ url_for('path.create') }}" type="button" class="btn btn-success">Добавить</a>
            <div class="table-responsive pt-3">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>
                            #
                        </th>
                        <th>
                            extend_fill
                        </th>
                        <th>
                            fill_id
                        </th>
                        <th>
                            priority
                        </th>
                        <th>
                            d
                        </th>
                        <th>
                            status
                        </th>
                        <th>
                            figure_id
                        </th>
                        <td>
                            Действия
                        </td>
                    </tr>
                    </thead>
                    <tbody>
                    {% for path in crud.items %}

                    <tr>
                        <td>
                            {{path.id}}
                        </td>
                        <td>
                            {% if path.extend_fill == 0%}
                                нет
                            {% else %}
                                да
                            {% endif %}
                        </td>
                        <td>
                            <canvas width="50" height="50" style="background-color:{{path.fill}};">
                                Ваш браузер не поддерживает Canvas
                            </canvas>
                        </td>
                        <td>
                            {{path.priority}}
                        </td>
                        <td>
                            {{path.d}}
                        </td>
                        <td>
                            {% if path.status == 0%}
                                не активен
                            {% else %}
                                активен
                            {% endif %}
                        </td>
                        <td>
                            {{path.figure_label}}, 
                            {{path.figure_age}}(возраст), 
                            {% if path.figure_sex == 0 %}
                                мужской
                            {% else %}
                                женский
                            {% endif %}
                        </td>
                        <td>
                            <a title="Удалить" href="{{ url_for('path.remove', id=path.id) }}"><i class="mdi mdi-close-box"></i></a>
                            <a title="Редактировать" href="{{ url_for('path.edit', id=path.id) }}"><i class="mdi mdi-lead-pencil"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <br>
            {{ pagination(crud, 'path.index') }}
        </div>
    </div>
</div>
{% endblock %}